
<div th:fragment="navbar" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <nav class="navbar justify-space-evenly">
        <ul>
            <li class="home">
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/posts">Posts</a>
            </li>
            <li>
                <a href="/profile">Profile</a>
            </li>
            <li>
                <a href="/posts/create">Create</a>
            </li>
            <li>
                <a href="/posts/edit">Edit</a>
            </li>
            <li class="search">
                <input name="search" formmethod="post" type="text" placeholder="Search">
            </li>
            <li sec:authorize="isAuthenticated()" id="logout-button">
                <form th:action="@{/logout}" th:method="post">
                    <button type="submit">Logout</button>
                </form>
            </li>
            <li sec:authorize="!isAuthenticated()" id="login-button">
                <a href="/login">Login</a>
            </li>
        </ul>
    </nav>
</div>
