<!doctype html>
<html 
        xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dice Roll</title>
</head>
<body>
<h1>Pick a Number between 1 and 24!</h1>
<form action="/roll-dice/guess" method="post">
    <input type="text" name="userGuess">
    <button type="submit">Guess!</button>
</form>



</body>
</html>