<!doctype html>
<html 
        xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dice Roll</title>
</head>
<body>
<h1>Pick a Number between 1 and 6!</h1>
<a href="/roll-dice/1">Guess 1</a>
<a href="/roll-dice/2">Guess 2</a>
<a href="/roll-dice/3">Guess 3</a>
<a href="/roll-dice/4">Guess 4</a>
<a href="/roll-dice/5">Guess 5</a>
<a href="/roll-dice/6">Guess 6</a>



</body>
</html>